@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
}

.about-1 {
    margin: 30px;
    padding: 5px;
}

.about-1 p {
    text-align: center;
    padding: 30px;
    color: white;
}

.about-item {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    border-radius: 15px;
}

.about-item i {
    font-size: 43px;
    padding-bottom: 15px;
  
}

.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item p {
    margin-top: 20px;
    color: black;
}

.about-item:hover {
    background-color: #BDCBE2;
    box-shadow: 0 0 9px rgba(0, 0, 0.6);
}

.about-item:hover i {
    transform: translateY(-20px);
    transition: all 400ms ease-in-out; 
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#flowerCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; 
}






