body {
    font-family: auto;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    text-align: left;
    margin: 30px;
    margin-top: 100px;
    background-attachment: fixed;
    background-color: rgba(179, 195, 221, 255);
    text-decoration: none !important;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 3%;
    background: transparent;
}

.logo{
    font-size: 42px;
    font-weight: 900;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
 
 }

.navlistt {
    display: flex;
}

.navlistt,
.menu a {
    color: white;
    margin-left: 60px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    list-style-type: none;
}

.navlistt a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 45px;
    z-index: 10;
    /*  cursor: pointer;*/
    display: none;

}

@media (max-width:990px) {
    #menu-icon {
        display: block;
    }
}

.flowers-info {
    padding: 2px;
    display: block;
}

.img-style {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 12px;
}

.roses-container {
    display: flex;
    margin: 15px;
    /* justify-content: space-between; */
    width: 100%;
}

.roses-img {
    /* right: 20%; */
    width: 30%;
    /* height: 300px; */
    /*border-radius: 20px;*/
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*transition: transform 0.3s ease-in-out;*/

}

.roses-img :hover {
    transform: scale(1.2);
    z-index: index 2;
}

.roses-info {
    text-decoration-style: inherit;
    text-decoration-color: black;
    width: 70%;
    text-align: center;
    margin-left: 1%;
}

.roses-info h2 {
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.tulips-container {
    display: flex;
    margin: 15px;
    width: 100%;
}

.tulips-img {
    right: 20%;
    width: 450px;
    height: 300px;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.tulips-img :hover {
    transform: scale(1.2);
    z-index: index 2;
}

.tulips-info {
    text-align: center;
    width: 83%;

}

.tulips-info h2 {
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.daisy-container {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    width: 100%;
}

.daisy-img {
    right: 20%;
    width: 450x;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.daisy-img :hover {
    transform: scale(1.2);
    z-index: index 2;
}


.daisy-info {
    width: 68%;
    text-align: center;
    margin-left: 0.5%;
}

.daisy-info h2 {
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.lilies-container {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    width: 100%;
}

.lilies-img {
    right: 10%;
    width: 450px;
    height: 300px;
    border-radius: 5px;
    /* box-shadow: 0 2px 3px rgba(0,0,0,0.1);*/
    transition: transform 0.1s ease-in-out;

}

.lilies-img :hover {
    transform: scale(1.2);
    z-index: index 2;
}


.lilies-info {
    width: 150%;
    text-align: center;
    margin-left: 6%;
}

.lilies-info h2 {
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.orchid-container {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    width: 100%;
}

.orchid-img {
    right: 20%;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease-in-out;

}

.orchid-img :hover {
    transform: scale(1.2);
    transform: perspective(600px) rotateY(180deg);
    z-index: index 2;
}


.orchid-info {
    text-align: center;
    width: 100%;
    margin-left: 3%;
}

.orchid-info h2 {
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.orchid-img h2 {
    width: 100%;
    bottom: 0;
    position: absolute;
    line-height: 35px;
    color: aliceblue;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.row {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.col-md-6 {
    display: flex;
    max-width: 100%;
}


.roses-img :hover {
    transform: scale(1.2);
    transform: perspective(600px) rotateY(180deg);
    z-index: index 2;
}

.daisy-img :hover {
    transform: scale(1.2);
    transform: perspective(600px) rotateY(180deg);
    z-index: index 2;
}

.tulips-img :hover {
    transform: scale(1.2);
    transform: perspective(600px) rotateY(180deg);
    z-index: index 2;
}

.lilies-img :hover {
    transform: scale(1.2);
    transform: perspective(600px) rotateY(180deg);
    z-index: index 2;
}
.video-tips {
    display: flex;
    justify-content: center;
   /* align-items: center;*/
    height: 450px; /* Adjust as needed */
    background-attachment: fixed; /* Set background color as needed */
    align-content: flex-start;
}

.vid-style {
    max-width: 100%;
    height: 107%;
    border-radius: 45px;
    box-shadow: 16 5px 10px;
    
}
