html{
    scroll-behavior: smooth;
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}



body {
    height: 100vh;
    position: relative;
    background-color: rgb(182, 199, 224);
    
}


#seksioni-produktet {
    margin-right: 0;
    margin-left: 150px;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 6em;
    column-gap: 2em;
    text-align: center;
}

.container div div a img {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.category {
    font-size: 150%;
    padding: 5px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgb(91, 112, 185);
    background-color: rgb(167, 188, 216);

}

#gifts-h1{

 background-color:   rgb(222, 230, 240);
}

#flowers-h1 {
    margin-top: 30px;
}

#Flowers {
    margin-top: 100px;
    /* border:1px red dashed; */
}

.product {
    position: relative;
    padding: 0px;
}

.product div a {
    padding: 0px;
}

div.product-footer {
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

div.product-footer a h3 {
    color: black;
    text-shadow: none;
}

div.product-footer h4 {
    color: #000000;
    text-shadow: none;
}

div.product:hover div.product-footer {
    margin-top: -50px;
    transition: 0.5s ease-in-out;
}

div.product {
    box-shadow: 0 50px 40px rgba(116, 114, 114, 0.5);
}

div.product:hover img {
    filter: brightness(50%);
    transition: 0.5s ease-in-out;
}

div.product:hover {
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgba(116, 114, 114, 0.5);
    transition: 0.5s ease-in-out;
}

div.product .product-footer button {
    display: none;
    font-family: 'Rajdhani', sans-serif;
    width: 100px;
    margin: auto;
    margin-bottom: 5px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 13px;
    background-color: #45426b;
}

div.product:hover .product-footer button {
    display: block;
    animation: fadeIn ease-in 0.7s;
}

div.product .product-footer button:hover {
    background-color: #2a7e74;
    transition: 1s ease-in-out;
}

div.product .product-footer a h3:hover {
    color: rgb(131, 131, 131);
    transition: 0.7s;
}

body {
    position: relative;
}

#yourCart {
    position: fixed;
    right: 75px;
    top: 100px;
    width: 250px;
    height: 550px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(116, 114, 114, 0.5);
  }

  #bottom {
    position: absolute;
    bottom: 20px;
  }
  
  #scrollable {
    overflow-y: auto;
    max-height: 380px;
  }

  .custom-shape-divider-top-1610755808 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1610755808 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 500px;
  }
  
  .custom-shape-divider-top-1610755808 .shape-fill {
    fill: rgb(202, 218, 239);
    opacity: 0.8;
  }



  .custom-shape-divider-bottom-1610755546 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1610755546 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 248px;
  }
  
  .custom-shape-divider-bottom-1610755546 .shape-fill {
    fill:  rgb(167, 188, 216);
    opacity: 0.5;
  }

  
  #checkout {
    width: 100px;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 17px;
    background: #45426b;
  }
  
  #checkout:hover {
    background-color: rgb(0, 0, 0);
    color:white;
    transition: 1s;
  }
  

  #cartList button {
    color: rgb(194, 194, 194);
    border: 0px;
    padding: 5px;
    padding-left: 0px;
    margin-right: 5px;
    background-color: transparent;
  }
  
  #cartList button:hover {
    color:#1d35be;
    transition: 0.5s;
  }




dl dd {
    text-align: right;
}

dl dt {
    display: inline;
}

dl dd.inline {
    float: right;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





